body {
    width:100%;
    max-width: 600px;
    height: 440px;
    margin: 6rem auto;
    padding: 1rem;
    text-align: center;
    border: 1px solid rgb(18, 172, 18);
    border-radius: 1rem;
}

header {
    background-color: rgb(18, 172, 18);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

section {
    border: 0.1rem solid rgb(18, 172, 18);
    margin: 1rem auto;
    padding: 1rem 0;
    border-radius: 1rem;
    height: 200px;
    color: rgb(18, 172, 18);
}

label {
    font-weight: bold;
    font-size: 1.5rem;
}

input {
    color: rgb(18, 172, 18);
    border: 1px solid rgb(18, 172, 18);
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    padding: 0.25rem;
    background-color:beige;    
}

button {
    background-color: rgb(18, 172, 18);
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

output {
    color: rgb(18, 172, 18);
    font-size: 1.5rem;
    font-weight: bold;
    
}
