html {
    background-color: white;
}

body {
    width: 100%;
    max-width: 650px;
    margin: 2rem auto;
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    border: 2px solid;
    padding: 1rem;
    background-color: rgb(238, 221, 29);
    background-clip: content-box;
}

header {
    padding: 1rem;
}

#txt-area {
    width:90%;
    height:100px;
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
    margin: 1rem 0rem;
    background-color: rgb(238, 221, 29);

}

#btn-push {
    font-weight: bolder;
    border-radius: 1rem;
    width: 4rem;
    height: 2rem;
    background-color: rgb(238, 221, 29);
    border: 1px solid;
}

.container {
    border: 1px dotted;
    width: 90%;
    height: 100px;
    margin: 1rem auto;
}